# Bytecode
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Env files
.env
.venv/
venv/
env/
ENV/

# IDEs e configs
.vscode/
.idea/

# Dados e cache
*.json
*.csv
*.db
db/

# Sistema operacional
.DS_Store
Thumbs.db
